.page {
	position: fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}
#alertContainer {
	width: 100%;
	padding: 0 20%;
	display: none;
}

#banner {
	width: 100%;
	background-color: #BBD8E9;
	font-size: 20px;
	padding: .5% 0;
	text-align: right;
	float:left;
}
#banner span {
	margin-right: 2%;
}

.onepage {
	height: 100%;
}

.desktop {

}

ul.typeahead li.active span {
    color: white;
}

.popover .typeahead {
	width:100px;
}


.tabs {
	position:fixed;
	left: 0px;
	top: 34px;
	bottom: 0px;
	width: 20%;
}

.tab-wrapper {
	height: 95%;
	position:relative;
	border-right: 1px solid #ddd;
}

.tab {
	cursor: pointer;
	font-size: 25px;
	height: 24px;
	padding: 10px;
	margin: 5px;
	position:relative;
}
.tab:hover {
	margin-left: 10px;
	background-color: #f2f2f2;
}
.tabShadow{

}
.helpTab {
	position:absolute;
	bottom: 0px;
	width: 85%;
}
.businessTab {
	font-size: 18px;
	font-style: italic;
	margin-left: 20px;
}
.businessTab:hover{
	margin-left: 25px;
}
.tab-close{
	display:none;
}
.businessTab:hover .tab-close{
	display:block;
}
.businessTab.tab-select {
	margin-left: 25px;
	background-color: #f2f2f2;
}
.tab-select {
	margin-left: 10px;
	background-color: #f2f2f2;
}

.add-bookmark-popover {
	width:320px;
}

.bookmark-tag {
	margin-right:10px;
}

.bookmark-remove-tag {
	padding-left:5px;
	height:0px;
	margin-top:-2px;
}

.typeahead {
	z-index: 1051;
}

.modal-body form {
	margin-bottom: 0px;
}

.modal-body .form-actions {
	margin-bottom: 0px;
}

.search{
	position:relative;
	float:left;
	width: 100%;
	height: 85%;
}
.search-header{
	font-size: 30px;
	margin-top: 20px;
}

.search-header-text {
	margin-left: 30px;
	margin-right: 10px;
}

.search-form .btn {
	margin-bottom: 10px;
	margin-left: 10px;
}
#search-query {
	width: 300px;
	height: 30px;
}
#bookmark-query {
	width: 450px;
	height: 30px;
}
#search-location {
	width: 150px;
	height: 30px;
}
.filter {
	display:none;
}
.results{
	float:left;
	position:relative;
	overflow: auto;
	display: none;
	width: 95%;
}
.result-message {
	position:absolute;
	top: -26px;
	font-size: 18px;
}
.result {
	width: 98%;
	float:left;
	height: 100px;
	padding: 10px;
	margin: 5px 0;
	background-color: #fff;
}
.result-image-wrapper {
	float:left;
	margin-right: 20px;
}
.result-name{
	font-size: 30px;
}
.result-name a{
	color: #333;
}
.result-name a:hover {
	color: #333;
}
.result-details {
	font-style: italic;
	width: 350px;
	float:left;
	margin-top: 10px;
}
.result-details div {
	float:left;
	margin-right: 10px;
}
.result-location {
	float: left;
	width: 340px;
	margin-top: 10px;
}

.map {
	height: 300px;
	width: 100%;
	margin-top: 20px;
}
.profile {
	margin-left:20px;
}

.prof-details {
	margin-bottom: 20px;
	overflow: auto;
	width: 98%;
}

.big-img {
	height: 300px;
}






.bookmarks {
	display: none;
}
.bookmark {
	width: 98%;
	float:left;
	height: 100px;
	padding: 10px;
	margin: 5px 0;
	background-color: #fff;
}
.bookmark-image-wrapper {
	float:left;
	margin-right: 20px;
}
.bookmark-name{
	font-size: 30px;
}
.bookmark-details {
	font-style: italic;
	width: 350px;
	float:left;
	margin-top: 10px;
}
.bookmark-details div {
	float:left;
	margin-right: 10px;
}
.bookmark-location {
	float: left;
	width: 340px;
	margin-top: 10px;
}

.help-page {
	display: none;
}

